PORT=3000
JWT_SECRET=ganti_dengan_secret_panjang

DB_HOST=inventako-inventako.e.aivencloud.com
DB_CONNECT_HOST=
DB_PORT=22421
DB_USER=avnadmin
DB_PASSWORD=isi_password_aiven_di_render_env
DB_NAME=defaultdb
DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=false
DB_CA_CERT_PATH=
